<html>
  <head>
    <title>Notify.io :: Web notification system supporting Growl, Snarl, Prowl, Twitter, WebHooks, libnotify and more!</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
  </head>
  <body class="{% if user %}loggedin{% endif %} {% block content_class %}{% endblock %}">
    <div id="wrapper">
      <div id="header">
        <div class="width">
          <a href="/"><img src="/static/notifyio-alpha.png" /></a>
          <div id="account">
            {% if user %}
            {{ user.nickname }} | <a href="{{ logout_url }}">Logout</a>
            {% else %}
            <a href="{{ login_url }}">Login with Google</a>
            {% endif %}
          </div><br /><br />
          {% if user %}
          <ul id="menu">
            <li><a class="{% block history_selected %}{% endblock %}" href="/dashboard/history">History</a></li>
            <li><a class="{% block sources_selected %}{% endblock %}" href="/dashboard/sources">Sources</a></li>
            <li><a class="{% block notifiers_selected %}{% endblock %}" href="/dashboard/notifiers">Notifiers</a></li>
            <li><a class="{% block settings_selected %}{% endblock %}" href="/dashboard/settings">Settings</a></li>
          </ul>
          {% endif %}
        </div>
      </div>
      {% block feature %}{% endblock %}
      <div id="content">
        <div class="width">
          
          {% block content %}{% endblock %}
        </div>
      </div>
      <div id="footer">
        <div class="width">
          <ul style="float: left;">
            <li><span><a href="/getstarted">Get Started</a></span></li>
            <li><span><a href="http://groups.google.com/group/notify-io/web/developers">Developers</a></span></li>
            <li><span><a href="http://twitter.com/notifyio">Updates</a></span></li>
            <li><span><a href="http://groups.google.com/group/notify-io/topics">Help / Discuss</a></span></li>
            <li><span><a href="http://github.com/progrium/notify-io">Code</a></span></li>
          </ul>
          <div class="stamps">
            <a href="http://poss.gliderlab.com/">Public Open Source Service</a><br />
            A GliderLab Collaboration
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      var uservoiceJsHost = ("https:" == document.location.protocol) ? "https://uservoice.com" : "http://cdn.uservoice.com";
      document.write(unescape("%3Cscript src='" + uservoiceJsHost + "/javascripts/widgets/tab.js' type='text/javascript'%3E%3C/script%3E"))
    </script>
    <script type="text/javascript">
    UserVoice.Tab.show({ 
      /* required */
      key: 'notifyio',
      host: 'notifyio.uservoice.com', 
      forum: '32981', 
      /* optional */
      alignment: 'left',
      background_color:'#88888C', 
      text_color: 'white',
      hover_color: '#06C',
      lang: 'en'
    })
    </script>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-6824126-8");
    pageTracker._trackPageview();
    } catch(err) {}</script>
  </body>
</html>