{% extends 'base.html' %}
{% block content_class %}dashboard{% endblock %}
{% block content %}
{% if not account.started %}
<div id="start-tip">
	Hi! We noticed you haven't configured your Desktop Notifier yet. Be sure to <a href="/getstarted">Get Started</a> properly.
	<div style="float: right; font-size: smaller; margin-top: 18px; margin-right: -10px;"><a href="{{ request.path }}?hide">Hide This</a></div></div>
{% endif %}
<div id="dashboard-wrapper">
<div id="sidebar">
	{% if pending_channels %}
  <div>
    <h3>Pending Approvals</h3>
    <ul>
      {% for channel in pending_channels %}
      <li>{{ channel.source.source_name }} <form action="/sources" method="post" style="display: inline;"><input type="hidden" name="action" value="approve" /><input type="hidden" name="source" value="{{ channel.source.hash }}"><input type="submit" value="Approve"></form></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <div>
    <h3>Recent Notifications</h3>
		{% for notice in recent_notifications %}
		<table style="margin-bottom: 4px; margin-top: 2px;">
			<tr>
				<td valign="top"><img src="{{notice.icon_with_default}}" width="25" height="25" style="margin-right: 2px;"/></td>
				<td valign="top" style="font-size: 12px;">
					{% if notice.title %}<strong>{{ notice.title|striptags }}</strong><br />{% endif %} 
					{{ notice.text|striptags }} {% if notice.link %}<a href="{{notice.link}}" target="_blank">...</a>{% endif %}<br />
					<small style="color: #666;"><a href="/sources/{{notice.source.hash}}" style="color: #666;">{{ notice.source.source_name }}</a> {{ notice.created|timesince|shortago }} </small>
				</td></tr>
		</table>
    {% endfor %}
  </div>

  <div id="pagetip">
    <h3>About this page</h3>
    {% block pagetip %}{% endblock %}
  </div>
  
</div>
<div id="panel">
{% block dashboard %}{% endblock %}
</div>
</div>
{% endblock %}