{% extends 'dashboard.html' %}
{% block dashboard %}
<h3>Pending Approvals</h3>
<ul>
  {% for channel in pending_channels %}
  <li>{{ channel.source.source_name }} <form action="/dashboard/sources" method="post" style="display: inline;"><input type="hidden" name="action" value="approve" /><input type="hidden" name="source" value="{{ channel.source.hash }}"><input type="submit" value="Approve"></form></li>
  {% endfor %}
</ul>

<h3>Recent Notifications</h3>
Show a few recent notifications from History.

<h3>Download Client</h3>
The current prototype client is a Python script dependent on <a href="http://twistedmatrix.com/trac/wiki/Downloads">Twisted</a> and the <a href="http://growl.info/documentation/developer/">Growl Python library</a>.
<p><a href="/download/notifyio-client.py">Download Client for your Account</a></p>

<h3>Debug</h3>
Test notification
<form action="http://{{ api_host }}/{{ api_version }}/notify/{{ account.hash }}?api_key={{ account.api_key }}" method="post">
  Title: <input type="text" name="title" /><br />
  Text:<br />
  <textarea name="text"></textarea><br />
  <input type="submit" value="Notify">
</form>

{% endblock %}