{% extends 'dashboard.html' %}
{% block sources_selected %}selected{% endblock %}
{% block dashboard %}
<h2>Notification Sources</h2>
<p>Sources are notification senders. They are generally websites or web apps, but they can also be people. Anybody with a notify.io account can be a source. This page lets you manage your sources, allowing or disallowing their ability to send notifications and eventually being able to filter their notifications in various ways.</p>

<h4>Enabled Sources</h4>
<ul>
  {% for channel in enabled_channels %}
  <li>{{ channel.source.source_name }}
    <!--form action="/dashboard/sources" method="post" style="display: inline;">
      <input type="hidden" name="action" value="disable" />
      <input type="hidden" name="source" value="{{ channel.source.hash }}">
      <input type="submit" value="Disable"></form--></li>
  {% endfor %}
</ul>

<h4>Pending Sources</h4>
<ul>
  {% for channel in pending_channels %}
  <li>{{ channel.source.source_name }} 
    <form action="/dashboard/sources" method="post" style="display: inline;">
      <input type="hidden" name="action" value="approve" />
      <input type="hidden" name="source" value="{{ channel.source.hash }}">
      <input type="submit" value="Approve"></form></li>
  {% endfor %}
</ul>

{% endblock %}