{% extends 'dashboard.html' %}
{% block history_selected %}selected{% endblock %}
{% block dashboard %}
<h2>Notification History</h2>

{% if notifications %}
<ul>
  {% for notice in notifications %}
  <li style="margin-bottom: 10px;"><img src="{{notice.icon}}" width="32" height="32" style="float: left; margin-right: 5px;"/> {% if notice.title %}<strong>{{ notice.title|striptags }}</strong><br />{% endif %} {{ notice.text|striptags }}<br /><small>from {{ notice.source.source_name }} at {{ notice.created }} | <form action="http://{{ api_host }}/{{ api_version }}/notify/{{account.hash}}?api_key={{account.api_key}}&replay={{notice.key.id}}" method="post" style="display: inline;"><input type="submit" value="Replay" /></form></small></li>
  {% endfor %}
</ul>
{% else %}
Looks like you don't have any notifications! You may want to download the client using the link to the right. Once running, you should get a welcome notification.<br />
<br />
Actually that's a lie. We won't send you a welcome notification. This is pre-alpha! We haven't figured out how to send notifications from us given our current data model.
{% endif %}

{% endblock %}