{% extends 'base.html' %}
{% block feature %}
<div id="feature">
  <div class="width">
    <h1>Get desktop notifications from web applications</h1>
    <h2>Notify.io is the open notification platform of the web</h2>
    
    <center>
			<div id="video"><object classid='clsid:d27cdb6e-ae6d-11cf-96b8-444553540000' codebase='http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,115,0' width='560' height='345'><param name='movie' value='http://screenr.com/Content/assets/screenr_1116090935.swf' ></param><param name='flashvars' value='i=40688' ></param><param name='allowFullScreen' value='true' ></param><embed src='http://screenr.com/Content/assets/screenr_1116090935.swf' flashvars='i=40688' allowFullScreen='true' width='560' height='345' pluginspage='http://www.macromedia.com/go/getflashplayer' ></embed></object></div>

    <span id="outer"><a class="button" id="getstarted" href="/getstarted">Get Started with Notify.io</a></span><br />
    <a href="http://groups.google.com/group/notify-io/web/developers" style="margin-top: -10px; display: block; font-size: smaller; color: gray;">or click here for Developers</a>
</center>
  </div>
</div>
{% endblock %}
{% block content %}

{% endblock %}