{% extends 'base.html' %}
{% block content %}
<h4>Some kind of blurb that instantly explains notify.io!</h4>
Features for users:
<ul>
  <li>Get passive notifications from web apps using your favorite notification system</li>
  <li>Have complete control over who can send you notifications</li>
  <li>Log all notifications for future reference</li>
  <li>Route notifications to different notifiers, such as Growl, IM, Twitter, etc</li>
</ul>
Features for app developers:
<ul>
  <li>Send your users important real-time notifications even when not on your site!</li>
  <li>Simple REST API with a single URL</li>
  <li>No need to register or lookup users--just hash their email, Gravatar style</li>
  <li>Empower your users with control over your notifications to them</li>
</ul>
{% endblock %}