{% extends 'dashboard.html' %}
{% block notifiers_selected %}selected{% endblock %}
{% block dashboard %}
<h2>Your Notification Outlets</h2>
<div id="add-form" style="padding: 5px; background: #E5E5E5; margin-bottom: 10px; display: none;">
</div>

<div style="float: right; width: 200px;">
<h4>Add Outlet</h4>
<ul>
	{% for t in types %}
	<li><img src="/static/outlets/{{ t.type }}.png" /><a href="javascript:add('{{ t.type }}')">{{ t.name }}</a>
			<div id="{{ t.type }}-add" style="display: none;">
				<form action="/outlets" method="post">
					{% for f in t.fields %}
					{{ f|title }}: <input type="text" name="{{ f }}" /> &nbsp;
					{% endfor %}
					<input type="hidden" name="action" value="add" />
					<input type="hidden" name="type" value="{{ t.type }}" />
					<input type="submit" value="Add {{ t.name }}" /> 
					<a href="javascript:$('#add-form').css('display','none')" style="font-size: smaller;">Cancel</a>
				</form>
			</div></li>
	{% endfor %}
</ul>	
</div>

<ul>
	{% for outlet in outlets %}
	<li><img src="/static/outlets/{{ outlet.type_name }}.png" title="{{ outlet.type.name }}" /> {{ outlet.name }} <a href="javascript:remove('{{ outlet.hash }}')" style="font-size: smaller;">Remove</a>
		<form id="{{ outlet.hash }}-remove" action="/outlets" method="post" style="display: inline;">
			<input type="hidden" name="action" value="remove" />
			<input type="hidden" name="outlet" value="{{ outlet.hash }}" />
		</form></li>
	{% endfor %}
</ul>

<script type="text/javascript">
function remove(outletHash) {
	$('#'+outletHash+'-remove').submit();
}
function add(type) {
	$('#add-form').html($('#'+type+'-add').html());
	$('#add-form').css('display', 'block');
	$('#add-form input:first').focus();
}
</script>
{% endblock %}