{% extends 'dashboard.html' %}
{% block notifiers_selected %}selected{% endblock %}
{% block dashboard %}
<h2>Your Notification Outlets</h2>
<div id="outlet-form" style="padding: 5px; background: #E5E5E5; margin-bottom: 10px; display: none;">
</div>
<style type="text/css">
#panel img { margin-bottom: -3px; }
#content ul { list-style-type: none; margin-left: 5px; }
#content ul li { margin-bottom: 4px; }
#content ul li.outlet { margin-bottom: 10px; }
</style>
<div style="float: right; width: 200px;">
<h4>Add Outlet</h4>
<ul>
	{% for t in types %}
	<li><img src="/static/outlets/{{ t.type }}.png" /> <a href="javascript:add('{{ t.type }}')">{{ t.name }}</a>
			<div id="{{ t.type }}-add" style="display: none;">
				<form action="/outlets" method="post">
					{% for f in t.fields %}
					{{ f|title }}: <input type="text" name="{{ f }}" /> &nbsp;
					{% endfor %}
					<input type="hidden" name="action" value="add" />
					<input type="hidden" name="type" value="{{ t.type }}" />
					<input type="submit" value="Add {{ t.name }}" /> 
					<a href="javascript:hide()" style="font-size: smaller;">Cancel</a>
				</form>
			</div>
			</li>
	{% endfor %}
</ul>	
</div>

<ul>
	{% for outlet in outlets %}
	<li class="outlet"><img src="/static/outlets/{{ outlet.type_name }}.png" title="{{ outlet.type.name }}" /> 
		{{ outlet.name }} 
		<a href="javascript:remove('{{ outlet.hash }}')" title="Delete"><img src="/static/icons/delete.png" /></a> 
		<a href="javascript:rename('{{outlet.hash}}')" title="Rename"><img src="/static/icons/rename.png"></a><br />
		<small style="color: #666; padding-left: 20px;">
			{% if outlet.is_push %}
				{{ outlet.push_destination.0|title }}: {{ outlet.push_destination.1 }}
			{% else %}
			  <a href="/outlets/{{ outlet.hash }}.ListenURL" style="color: #666;">Download Listen URL</a>
			{% endif %}</small>
		
		<form id="{{ outlet.hash }}-remove" action="/outlets" method="post" style="display: inline;">
			<input type="hidden" name="action" value="remove" />
			<input type="hidden" name="outlet" value="{{ outlet.hash }}" />
		</form>
		<div id="{{ outlet.hash }}-rename" style="display: none;">
			<form action="/outlets" method="post">
				Rename: <input type="text" name="name" value="{{ outlet.name }}" /> &nbsp;
				<input type="hidden" name="action" value="rename" />
				<input type="hidden" name="outlet" value="{{ outlet.hash }}" />
				<input type="submit" value="Save" /> 
				<a href="javascript:hide()" style="font-size: smaller;">Cancel</a>
			</form>
		</div>
		</li>
	{% endfor %}
</ul>

<script type="text/javascript">
function remove(outletHash) {
	if (confirm("Are you sure you want to delete this outlet?")) {
		$('#'+outletHash+'-remove').submit();
	}
}
function add(type) {
	$('#outlet-form').html($('#'+type+'-add').html());
	$('#outlet-form').css('display', 'block');
	$('#outlet-form input:first').focus();
}
function rename(hash) {
	$('#outlet-form').html($('#'+hash+'-rename').html());
	$('#outlet-form').css('display', 'block');
	$('#outlet-form input:first').focus();
}
function hide() {
	$('#outlet-form').css('display','none');
}
</script>
{% endblock %}