{% extends 'dashboard.html' %}
{% block settings_selected %}selected{% endblock %}
{% block dashboard %}
<h2>Account Settings</h2>
<h3>API Information</h3>
<p>
  Userhash: {{ account.hash }} &lArr; md5({{ account.user.email|lower }})<br />
  API key: <input type="text" value="{{ account.api_key }}" readonly="readonly" onclick="this.select()" size="32" /> <a href="javascript:resetKey()" style="font-size: smaller;">Reset Key</a>
  <form id="resetForm" action="/settings" method="post"><input type="hidden" name="action" value="reset" /></form>
	<script type="text/javascript">
		function resetKey() {
			if (confirm("This will break anything using your current API key. Are you sure?")) {
				$('#resetForm').submit();
			}
		}
	</script>
</p>

<form method="post">
  <h3>Source Settings</h3>
  <p>
  <input type="checkbox" value="true" name="source_enabled" {% if account.source_enabled %}checked="checked"{% endif %}/> Yes, I want to send notifications with this account<br />
  <p style="margin-left: 10px;">
	<table>
		<tr>
			<td align="right">Name:</td>
			<td><input type="text" name="source_name" {% if account.source_name %}value="{{account.source_name}}" {% endif %}/></td></tr>
		<tr>
			<td align="right">Website URL:</td>
			<td><input type="text" name="source_url" {% if account.source_icon %}value="{{account.source_url}}" {% endif %}/></td></tr>
  	<tr>
			<td align="right">Icon URL:</td>
			<td><input type="text" name="source_icon" {% if account.source_icon %}value="{{account.source_icon}}" {% endif %}/></td></tr>
	</table>
  </p>
  <input type="submit" value="Save" />
</p>
</form>

<h3>Debug</h3>
<form target="debug" action="http://{{ api_host }}/{{ api_version }}/notify/{{ account.hash }}" method="post">
	<input type="hidden" name="api_key" value="{{ account.api_key }}" />
	<table>
		<tr>
			<td align="right">Text:</td>
			<td><textarea name="text"></textarea></td></tr>
		<tr>
			<td align="right">Title:</td>
			<td><input type="text" name="title" /><small>(Optional)</small></td></tr>
		<tr>
  		<td align="right">Icon URL:</td>
			<td><input type="text" name="icon" /><small>(Optional)</small></td></tr>
		<tr>
			<td align="right">Link URL:</td>
			<td><input type="text" name="link" /><small>(Optional)</small></td></tr>
		<tr>
			<td>&nbsp;</td><td><input type="checkbox" name="sticky" value="true" /> Sticky?</td></tr>
		<tr>
			<td>&nbsp;</td><td><input type="submit" value="Notify"><iframe name="debug" style="margin-left: 20px; width: 0px; height: 0px;"></iframe></td></tr>
	</table>
</form>
{% endblock %}