{% extends 'dashboard.html' %}
{% block sources_selected %}selected{% endblock %}
{% block dashboard %}
<h2>Notification Source</h2>
<a href="/sources" style="display: block; float: right; margin-top: -30px; font-size: smaller;">&larr; Back to Your Sources</a>
<table style="float: right;">
	<tr><td align="right">Source is <strong>{{ channel.status }}</strong>.</td></tr>
	<tr><td align="right"><strong>{{ channel.count }}</strong> notifications received.</td></tr>
	<tr><td align="right"><form action="/sources?return" method="post" style="display: inline;" id="{{channel.source.hash}}-route">
		<input type="hidden" name="action" value="route" />
		<input type="hidden" name="source" value="{{channel.source.hash}}" />
		<select name="outlet" onchange="$('#{{channel.source.hash}}-route').submit()" title="Outlet for source">
			<option value="">None</option>
			{% for outlet in outlets %}
			<option value="{{outlet.hash}}" {% ifequal channel.outlet.hash outlet.hash %}selected="selected"{% endifequal %}>{{outlet.name}}</option>
			{% endfor %}
		</select>
	</form></td></tr>
</table>
<img src="{{source.source_or_default_icon}}" style="width: 50px; height: 50px; float: left; margin-right: 8px;" />
<h1 style="margin-bottom: -3px;">{{source.source_name}}</h1>
<p><small>Website:</small> <a href="{{source.source_url}}" target="_blank">{{source.source_url}}</a></p>

<h3 style="margin-top: 30px;">Source Notification History</h3>
TODO: History on this page


{% ifequal "enabled" channel.status %}
<div style="float:right; font-size: smaller;"><a href="javascript:deleteSource()">Delete this source</a></div>
<form id="delete-source" action="/sources" method="post">
	<input type="hidden" name="action" value="delete" />
	<input type="hidden" name="source" value="{{channel.source.hash}}" />
</form>
<script type="text/javascript">
	function deleteSource() {
		if (confirm("Are you sure you want to delete this source? EXPERIMENTAL: USE AT YOUR OWN RISK!")) {
			$('#delete-source').submit();
		}
	}
</script>
{% endifequal %}


{% endblock %}
{% block pagetip %}
<p>This is a notification source.</p>
{% endblock %}