{% extends 'base.html' %}
{% block feature %}
<div id="feature">
  <div class="width">
    <h1>Available Sources</h1>
  </div>
</div>
{% endblock %}
{% block content %}
<div id="gettingstarted">
  <ul>
    <li><span><a href="http://feednotifier.org">Feed Notifier</a></span></li>
    <li><span><a href="http://remindify.com">Remindify</a></span></li>
    <li><span><a href="http://facebooksays.appspot.com/">Facebook Says</a></span></li>
    <li><span>Twitter Notifier <small>coming soon!</small></span></li>
    <li><span>UserVoice <a href="http://j.mp/2SD7e"><small>vote for it!</small></a></span></li>
    <li><span>You!</span></li>
  </ul>
</div>
{% endblock %}