* { margin: 0; padding: 0; }
body {
    font-family: arial, helvetica;
    border-top: 7px solid #FCB360;
    margin: 0px;
    background: #88888C;
}

#wrapper {
    border-top: 8px solid #9CB38B;
    background: #fff;
}

#header {
    border-top: 8px solid #8A9C9B;
    background: #88888C;
    height: 80px;
}   
#header img {float: left; margin-top: 10px; border: 0px;}
#header #account { float: right; margin-top: 10px; }
#header a { color: white; }

#footer {
    border-top: 4px solid #FCB360;
    background: #88888C;
    color: white;
    min-height: 55px;
}
#footer .width { padding-left: 20px; padding-top: 10px; }
#footer li {list-style-type:square; margin-bottom: 5px; display: inline; margin-right: 25px; }
#footer li span {color: white;}
#footer .stamps { float: right; text-align: right; font-size: 14px;}
#footer a { color: white; }

#content {
    min-height: 200px;
}

.loggedin #header { border-bottom: 8px solid #9CB38B;}
/*.loggedin #header { border-bottom: 8px solid #8A9C9B;}*/

.dashboard #header {margin-bottom: 0px;}
.dashboard #content {
    background: #E5E5E5;
    padding-bottom: 20px;  
    padding-top: 5px;
}

#menu { float: right; margin-top: 21px;}
#menu, x:-moz-any-link, x:default { margin-top: 16px; } /* hack for FF */
#menu li { display: inline; }
#menu li a { 
    padding: 6px;  background: #8A9C9B; color: white; text-decoration: none; 
    padding-left: 10px; padding-right: 10px;
}
#menu li a.selected { background: #9CB38B; }
#panel { 
    background: white; width: 698px; padding: 10px; padding-top: 5px; margin-top: 20px; min-height: 500px;
    border-right: 2px solid #aaa; border-bottom: 2px solid #aaa; color: #111;
}
#panel h1 { margin-bottom: 15px; }
#panel h2 { margin-top: 5px; margin-bottom: 10px; border-bottom: 2px solid #999; padding-bottom: 1px; line-height: 20px;}
#panel ul { margin-left: 25px; margin-top: 5px; margin-bottom: 5px; }
#panel li { color: #222; font-size: 14px; }
#panel p {font-size: 14px; margin-left: 5px; margin-bottom: 10px; }
#sidebar { float: right; width: 200px; font-size: 14px;}
#sidebar div { margin-top: 10px; margin-bottom: 15px; }
#sidebar ul { margin-left: 20px; }
#sidebar li { color: #222;}
#pagetip { font-size: smaller;}
#pagetip h3 { color: #666;}
#pagetip p { color: #777; }

#feature {
    background: #E5E5E5;
    padding-bottom: 30px;
}
#feature h1 { font-size: 32px; color: #222; padding-top: 25px; text-align: center;}
#feature h2 { font-size: 24px; color: #333; font-weight: normal; text-align: center; padding-bottom: 35px;}
#feature h4 { color: #222; font-size: 24px; margin-left: 10px;}
#feature li { font-size: 20px; margin-left: 45px;}
#feature li span { color: #333; padding-left: 2px;}
#feature .button { width: 120px; height: 30px; color: white; display: block; margin: 15px; margin-left: 100px; -moz-border-radius: 8px;
-webkit-border-radius: 8px; font-size: 21px; text-decoration: none; padding-top: 4px; padding-left: 10px; }
#feature #getstarted { background: #FCB360; }
#feature #learnmore { background: #8A9C9B; }
#feature #video { float: right; width: 450px; height: 275px; border: 8px solid #9CB38B; margin-right: 10px;}

#main { padding-top: 20px; color: #111; min-height: 350px; }
#main h4 { font-size: 24px; font-weight: normal; margin-bottom: 5px;}
#main li { margin-left: 25px;}

#gettingstarted { padding-top: 20px; color: #111; padding-left: 100px; padding-right: 100px; min-height: 300px;}
#gettingstarted p { margin-bottom: 20px; }
#gettingstarted h3 { text-align: center; }

.col1 { position: absolute; }
.col2 { position: absolute; margin-left: 320px; }
.col3 { position: absolute; margin-left: 640px; }

.width {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}
#account { color: white; font-size: 14px;}

ul { list-style-type:square; }
li { color: #FCB360; }
li span { color: #111; }

#start-tip { border: 2px solid #9cb38b; background-color: #dcf3cb; padding: 20px;}